{% extends 'base.html.twig' %}

{% block title %}CouvreChef index{% endblock %}

{% block body %}
    <h1>CouvreChef index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Flat_ATT</th>
                <th>Flat_DEF</th>
                <th>Flat_PV</th>
                <th>Flat_VIT</th>
                <th>Mult_ATT</th>
                <th>Mult_DEF</th>
                <th>Mult_VIT</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couvre_chef in couvre_chefs %}
            <tr>
                <td>{{ couvre_chef.id }}</td>
                <td>{{ couvre_chef.nom }}</td>
                <td>{{ couvre_chef.description }}</td>
                <td>{{ couvre_chef.flatATT }}</td>
                <td>{{ couvre_chef.flatDEF }}</td>
                <td>{{ couvre_chef.flatPV }}</td>
                <td>{{ couvre_chef.flatVIT }}</td>
                <td>{{ couvre_chef.multATT }}</td>
                <td>{{ couvre_chef.multDEF }}</td>
                <td>{{ couvre_chef.multVIT }}</td>
                <td>{{ couvre_chef.prix }}</td>
                <td>
                    <a href="{{ path('app_couvre_chef_show', {'id': couvre_chef.id}) }}">show</a>
                    <a href="{{ path('app_couvre_chef_edit', {'id': couvre_chef.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_couvre_chef_new') }}">Create new</a>
{% endblock %}
