{% extends 'base.html.twig' %}

{% block title %}CouvreChef{% endblock %}

{% block body %}
    <h1>CouvreChef</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ couvre_chef.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ couvre_chef.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ couvre_chef.description }}</td>
            </tr>
            <tr>
                <th>Flat_ATT</th>
                <td>{{ couvre_chef.flatATT }}</td>
            </tr>
            <tr>
                <th>Flat_DEF</th>
                <td>{{ couvre_chef.flatDEF }}</td>
            </tr>
            <tr>
                <th>Flat_PV</th>
                <td>{{ couvre_chef.flatPV }}</td>
            </tr>
            <tr>
                <th>Flat_VIT</th>
                <td>{{ couvre_chef.flatVIT }}</td>
            </tr>
            <tr>
                <th>Mult_ATT</th>
                <td>{{ couvre_chef.multATT }}</td>
            </tr>
            <tr>
                <th>Mult_DEF</th>
                <td>{{ couvre_chef.multDEF }}</td>
            </tr>
            <tr>
                <th>Mult_VIT</th>
                <td>{{ couvre_chef.multVIT }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ couvre_chef.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_couvre_chef_index') }}">back to list</a>

    <a href="{{ path('app_couvre_chef_edit', {'id': couvre_chef.id}) }}">edit</a>

    {{ include('couvre_chef/_delete_form.html.twig') }}
{% endblock %}
