{% extends 'base.html.twig' %}
{% block body %}
    <h1>Heros index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Avatar</th>
                <th>Description</th>
                <th>Date_de_naissance</th>
                <th>Niveau</th>
                <th>Experience</th>
                <th>Fonds</th>
                <th>ATT</th>
                <th>DEF</th>
                <th>PV</th>
                <th>VIT</th>
                <th>Arme</th>
                <th>Casque</th>     
                <th>Haut du corps</th>
                <th>Brassards</th>
                <th>Jambières</th>
                <th>Chaussures</th>     
                <th>Monture</th>                               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hero in heros %}
            <tr>
                <td>{{ hero.id }}</td>
                <td>{{ hero.nom }}</td>
                <td>{{ hero.avatar }}</td>
                <td>{{ hero.description }}</td>
                <td>{{ hero.dateDeNaissance ? hero.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ hero.niveau }}</td>
                <td>{{ hero.experience }}</td>
                <td>{{ hero.fonds }}</td>
                <td>{{ hero.ATTAvecEquipement }}</td>
                <td>{{ hero.DEFAvecEquipement }}</td>
                <td>{{ hero.PVAvecEquipement }}</td>
                <td>{{ hero.VITAvecEquipement }}</td>
                <td>{{ hero.armes }}</td>
                <td>{{ hero.couvreChef }}</td>
                <td>{{ hero.torse }}</td>
                <td>{{ hero.bras }}</td>
                <td>{{ hero.jambes }}</td>
                <td>{{ hero.pieds }}</td>
                <td>{{ hero.monture }}</td>
                <td>
                    <a href="{{ path('app_heros_show', {'id': hero.id}) }}">show</a>
                    <a href="{{ path('app_heros_edit', {'id': hero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_heros_new') }}">Create new</a>
{% endblock %}
