{% extends 'base.html.twig' %}
{% block body %}
<div class="entete-profil flex-row margin-bot-5">
    <h1>{{ hero.nom }}</h1>
			<div class="profile-image ">
				<img class="portrait" src="{{ hero.avatar }}" alt="">
			</div>
</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hero.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hero.description }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ hero.dateDeNaissance ? hero.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ATT</th>
                <td>{{ hero.ATT }}</td>
            </tr>
            <tr>
                <th>DEF</th>
                <td>{{ hero.DEF }}</td>
            </tr>
            <tr>
                <th>PV</th>
                <td>{{ hero.PV }}</td>
            </tr>
            <tr>
                <th>VIT</th>
                <td>{{ hero.VIT }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ hero.niveau }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ hero.experience }}</td>
            </tr>
            <tr>
                <th>Fonds</th>
                <td>{{ hero.fonds }}</td>
            </tr>
            <tr>
                <th>ATT totale</th>
                <td>{{ hero.ATTAvecEquipement }}</td>
            </tr>
            <tr>
                <th>DEF totale</th>
                <td>{{ hero.DEFAvecEquipement }}</td>
            </tr>
            <tr>
                <th>PV totaux</th>
                <td>{{ hero.PVAvecEquipement }}</td>
            </tr>
            <tr>
                <th>VIT totale</th>
                <td>{{ hero.VITAvecEquipement }}</td>
            </tr>
            <tr>
                <th>Arme</th>
                <td>{{ hero.armes }}</td>
            </tr>
             <tr>
                <th>Casque</th>
                <td>{{ hero.couvreChef }}</td>
            </tr>           
            <tr>
                <th>Plastron</th>
                <td>{{ hero.torse }}</td>
            </tr>
            <tr>
                <th>Brassards</th>
                <td>{{ hero.bras }}</td>
            </tr>
            <tr>
                <th>Jambes</th>
                <td>{{ hero.jambes }}</td>
            </tr>
            <tr>
                <th>Chaussures</th>
                <td>{{ hero.pieds }}</td>
            </tr>                                                                
            <tr>
                <th>Monture</th>
                <td>{{ hero.monture }}</td>
            </tr>

                
                
                
        </tbody>
    </table>

    <a href="{{ path('app_heros_index') }}">back to list</a>

    <a href="{{ path('app_heros_edit', {'id': hero.id}) }}">edit</a>

    {{ include('heros/_delete_form.html.twig') }}
{% endblock %}
